body {
    background-color: #D0D0D0;
    padding: 0 200px ;
}

.container {
    width: 650px;
    background-color: #FFF;
    position: relative;
    padding: 40px 70px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -395px;

    & > img {
        overflow-clip-margin: content-box;
        overflow: clip;
        width: 640px;
        height: 480px;
    }

    & > h6 {
        font-family:Arial, Helvetica, sans-serif;
    }
}